<a href="https://colab.research.google.com/github/puritym8/Python-Data-Analysis/blob/main/Pandasdailypractice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
#Step 2. Import the dataset from this address.

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"

euro12 =pd.read_csv(url,)

print(euro12)

In [3]:
euro12.shape

(16, 35)

In [5]:
euro12.size

560

In [ ]:
print(euro12.head())

In [ ]:
#Step 4. Select only the Goal column.

goal_column = euro12['Goals']

print("goal_column:", goal_column)

In [12]:
#Step 5. How many team participated in the Euro2012?

num_teams = euro12['Team'].nunique()

print("num_teams:", num_teams)

num_teams: 16

In [14]:
#Step 6. What is the number of columns in the dataset?

num_columns = euro12.shape[1]

print("num_columns:", num_columns)

num_columns: 35

In [15]:
#Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

print(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0