<a href="https://colab.research.google.com/github/puritym8/Python-Data-Analysis/blob/main/Pandasdailypractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
# Step 2: Create a dictionary
data = {
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'type': ['grass', 'fire', 'water', 'bug'],
    'hp': [45, 39, 44, 45],
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'pokedex': ['yes', 'no', 'yes', 'no']
}

# Step 3: Assign it to a variable called pokemon
pokemon = pd.DataFrame(data)

# Step 4: Reorder the columns
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print(pokemon)

# Step 5: Add another column called place
pokemon['place'] = ['Forest', 'Volcano', 'Ocean', 'Grassland']

# Step 6: Present the type of each column
print("Type of each column:")
print(pokemon.dtypes)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no
Type of each column:
name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [ ]:
Question: How can we access the first five rows of the DataFrame?

In [3]:
print(pokemon.head())

         name   type  hp   evolution pokedex      place
0   Bulbasaur  grass  45     Ivysaur     yes     Forest
1  Charmander   fire  39  Charmeleon      no    Volcano
2    Squirtle  water  44   Wartortle     yes      Ocean
3    Caterpie    bug  45     Metapod      no  Grassland