<a href="https://colab.research.google.com/github/puritym8/Python-Data-Analysis/blob/main/pandasdailypractice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [19]:
#Step 2. Import the dataset from this address.

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

#Step 3. Assign it to a variable called chipo.

chipo = pd.read_csv(url, sep='\t')

print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [12]:
chipo.shape

(4622, 5)

In [15]:
chipo.size

23110

In [6]:
# Print the first few rows of the 'item_price' column
print(chipo['item_price'].head())

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [8]:
#Step 4. How many products cost more than $10?

# Remove the dollar sign and trailing whitespace from the `item_price` column
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False)
chipo['item_price'] = chipo['item_price'].str.strip()


# Convert the item_price column to float
chipo['item_price'] = chipo['item_price'].astype(float)

# Select products costing more than $10.00
products_over_10 = chipo[chipo['item_price'] > 10.00]
# Count the number of products costing more than $10.00
num_products_over_10 = len(products_over_10)


print("Number of products costing more than $10:", num_products_over_10)

Number of products costing more than $10: 1130

In [9]:
#Step 5. What is the price of each item?

#print a data frame with only two columns item_name and item_price

item_prices = chipo[['item_name', 'item_price']].drop_duplicates()
print(item_prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

In [ ]:
#Step 6. Sort by the name of the item

sorted_chipo = chipo.sort_values(by='item_name')

print(sorted_chipo)

In [18]:
#Step 7. What was the quantity of the most expensive item ordered?

most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]
print("Quantity of the most expensive item ordered:", most_expensive_item['quantity'])

Quantity of the most expensive item ordered: 15

In [20]:
#Step 8. How many times was a Veggie Salad Bowl ordered?

veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
num_veggie_salad_bowl_orders = len(veggie_salad_bowl_orders)
print("Number of times Veggie Salad Bowl was ordered:", num_veggie_salad_bowl_orders)

Number of times Veggie Salad Bowl was ordered: 18

In [21]:
#Step 9. How many times did someone order more than one Canned Soda?

more_than_one_canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
num_more_than_one_canned_soda_orders = len(more_than_one_canned_soda_orders)
print("Number of times more than one Canned Soda was ordered:", num_more_than_one_canned_soda_orders)

Number of times more than one Canned Soda was ordered: 20